<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="it.unitn.science.lpsmt.uotnod"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="17" />

    <application
        android:name="it.unitn.science.lpsmt.uotnod.MyApplication"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="it.unitn.science.lpsmt.uotnod.Dashboard"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="it.unitn.science.lpsmt.uotnod.plugins.UotnodFamily"
            android:label="@string/title_activity_uotnod_family" >
            <intent-filter> 
       			<action android:name="it.unitn.science.lpsmt.uotnod.plugins.UotnodFamily" />  
         		<category android:name="android.intent.category.DEFAULT" />  
     		</intent-filter> 
        </activity>
        <activity
            android:name="it.unitn.science.lpsmt.uotnod.plugins.UotnodShops"
            android:label="@string/title_activity_uotnod_shops" >
            <intent-filter> 
       			<action android:name="it.unitn.science.lpsmt.uotnod.plugins.UotnodShops" />  
         		<category android:name="android.intent.category.DEFAULT" />  
     		</intent-filter>
        </activity>
        <activity
            android:name="it.unitn.science.lpsmt.uotnod.plugins.OutnodWeather"
            android:label="@string/title_activity_outnod_weather" >
            <intent-filter> 
       			<action android:name="it.unitn.science.lpsmt.uotnod.plugins.OutnodWeather" />  
         		<category android:name="android.intent.category.DEFAULT" />  
     		</intent-filter>
        </activity>
        
        <activity
            android:name="it.unitn.science.lpsmt.uotnod.plugins.DOMParser"
            android:label="@string/title_activity_outnod_weather" >
            <intent-filter> 
       			<action android:name="it.unitn.science.lpsmt.uotnod.plugins.DOMParser" />  
         		<category android:name="android.intent.category.DEFAULT" />  
     		</intent-filter>
        </activity>
        
    </application>
</manifest>
